palette.ppm
frame_*.png
simple_*.png
animated.gif
example.png
example.pnm
*.pyc
*/h/modhead
*/o32/*
*/oz32/*
*/aif32/*
*/rm32/*
*/o64/*
*/oz64/*
*/aif64/*
*/rm64/*
*/h/asm64
*/c/hourglass_test
*/c/module
*/cmhg/modhead
*/VersionNum
artifacts
for-riscos.zip
*/.robuild.yaml
